@using BooksForYou.Web.ViewModels.Administration.Publishers;
@model PublisherEditViewModel

@{
    ViewData["Title"] = "Edit publisher";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form id="editForm" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="mb-3">
                <div class="text-center mb-3">
                    <label asp-for="@Model.Name" class="form-label">Name</label>
                    <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <div class="text-center mb-3">
                    <label asp-for="@Model.Description" class="form-label">Description</label>
                    <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <div class="text-center mb-3">
                    <label asp-for="@Model.PhoneNumber" class="form-label">Phone number</label>
                    <input asp-for="@Model.PhoneNumber" class="form-control" aria-required="true" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
        </form>
        <div class="text-center mb-3">
            <button type="submit" class="btn btn-primary mt-2" data-toggle="modal" data-target="#modalEdit">Save changes</button>
            <div>
                <a asp-action="All">Back to List</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="modalEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Do you confirm this changes?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="editForm.submit()">Save changes</button>
            </div>
        </div>
    </div>
</div>