@using BooksForYou.Web.ViewModels.Administration.User;
@model UserListViewModel

@{
    ViewData["Title"] = "Get Users";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Manage users</h3>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                        <div class="col-sm-12">
                            <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                <thead>
                                    <tr>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>Email</th>
                                        <th>Operations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model.Users)
                                    {
                                        <tr>
                                            <td>
                                                @user.FirstName
                                            </td>
                                            <td>
                                                @user.LastName
                                            </td>
                                            <td>
                                                @user.Email
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@user.Id" class="text-warning">Edit</a> |
                                                <a asp-action="Delete" asp-route-id="@user.Id" class="text-danger">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-20 col-md-10">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

