@page
@model LoginModel

@{
    Layout = "/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Log in";

}
<html lang="en">

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card-header text-center">
            <a href="/" class="h1">Books for You</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg"><h1 class="text-center">@ViewData["Title"]</h1></p>
                <section>
                    <form id="account" method="post">
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="text-center mb-3">
                            <input asp-for="Input.Email" class="form-control " autocomplete="username" aria-required="true" placeholder="Email" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="text-center mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="icheck-primary">
                                    <input asp-for="Input.RememberMe" type="checkbox" id="remember">
                                    <label for="remember">
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                            </div>
                        </div>
                    </form>
                </section>
                <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                    <section>
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) != 0)
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins!)
                                            {
                                                <button type="submit" class="btn btn-block btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">Sign in using @provider.DisplayName</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </section>
                    @*      <a href="#" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>*@
                </div>
                <hr />
                <p class="mb-1">
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p class="mb-1">
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new membership</a>
                </p>
                <p class="mb-1">
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </p>
            </div>
        </div>
    </div>

</body>
</html>






