@using BooksForYou.Web.ViewModels.Books;
@model AllBooksQueryModel

@{
    ViewBag.Title = "Books";
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="@Model.Genre" class="form-label">Genre</label>
                    <select asp-for="@Model.Genre" class="form-control">
                        <option value="">All</option>
                        @foreach (var genre in Model.Genres)
                        {
                            <option value="@genre">@genre</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="@Model.PageNumber" class="form-label">Pages</label>
                    <select asp-for="@Model.PageNumber" class="form-control">
                        @foreach (var book in Model.Books)
                        {
                            <option value="@book.Pages">Page</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="form-group">
                    <label asp-for="Sorting"></label>
                    <select asp-for="Sorting" class="form-control">
                        <option value="0">Pages</option>
                        <option value="1">Publish Date</option>
                        <option value="2">ISBN</option>
                    </select>
                </div>
            </div>
        </div>
        <form method="get">
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <input asp-for="SearchTerm" class="form-control form-control-lg" placeholder="...">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-lg btn-default">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="row">
            @if (!Model.Books.Any())
            {
                <h2 class="text-center">No books found by the given criteria!</h2>
            }
            @foreach (var book in Model.Books)
            {
                <div class="col-md-3">
                    @*<div class="card mb-3">*@
                    <div class="card card-primary card-outline">
                        <div class="card-body box-book">
                            <div class="text-center">
                                <h3>@book.Title</h3>
                                <hr>
                                <a asp-action="BookById" asp-route-id="@book.Id">
                                    <img class="img-fluid" style="width: 15rem; height: 25rem"
                                         src="@book.ImageUrl" alt="Book Image">
                                </a>

                                <div class="card-body">
                                    <p class="mb-0">@book.UserAuthor</p>
                                    <p class="mb-0">@book.Genre</p>
                                </div>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <form class="input-group-sm" asp-route-bookId="@book.Id" asp-controller="Book" asp-action="AddBookToMyBooks" method="post">
                                        <input type="submit" value="Want to read" class="fs-6 btn btn-outline-success mb-3 p-2" />
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
