@using BooksForYou.Web.ViewModels.Books;
@model BooksListViewModel

@{
    ViewBag.Title = "My books";
}

<div class="card-text-center">
    <div class="card-header">
        <h3 class="card-title-center">@ViewBag.Title</h3>
    </div>
    <hr />
    <div class="text-center row">
        <div class="col-12">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="row">
                        @if (!Model.Books.Any())
                        {
                            <h2 class="text-center">No books found by the given criteria!</h2>
                        }
                        @foreach (var book in Model.Books)
                        {
                            <div class="col-md-3">
                                @*<div class="card mb-3">*@
                                <div class="card card-primary card-outline">
                                    <div class="card-body box-book">
                                        <div class="text-center">
                                            <h3>@book.Title</h3>
                                            <hr>
                                            <a asp-action="BookById" asp-route-id="@book.Id">
                                                <img class="img-fluid" style="width: 15rem; height: 25rem"
                                                     src="@book.ImageUrl" alt="Book Image">
                                            </a>

                                            <div class="card-body">
                                                <p class="mb-0">@book.UserAuthor</p>
                                                <p class="mb-0">@book.Genre</p>
                                            </div>
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <form class="input-group-sm" asp-route-bookId="@book.Id" asp-controller="Book" asp-action="AddBookToMyBooks" method="post">
                                                    <input type="submit" value="Want to read" class="fs-6 btn btn-outline-success mb-3 p-2" />
                                                </form>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-20 col-md-10">
                    <paging page-no="@Model.PageNumber"
                            page-size="@Model.PageSize"
                            total-records="@Model.TotalRecords"
                            page-size-dropdown-items="6-12-24">
                    </paging>
                </div>
            </div>
        </div>
    </div>
</div>



