@using BooksForYou.Web.ViewModels.Administration.Authors;
@model AuthorsListViewModel


@{
    ViewData["Title"] = "Get Authors";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Manage Authors</h3>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <p>
                        <a asp-action="Create" class="text-primary">Create new author</a>
                    </p>
                    <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                        <div class="col-sm-12">
                            <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Genre</th>
                                        <th>Website</th>
                                        <th>Born</th>
                                        <th>Operations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var author in Model.Authors)
                                    {
                                        <tr>
                                            <th>
                                                <img class="" src="@author.ImageUrl" alt="Author profile picture" width="100" height="130">
                                                @*<img src="@author.ImageUrl" class="img-fluid avatar-50 rounded" alt="">*@
                                            </th>
                                            <td>
                                                @author.Name
                                            </td>
                                            <td>
                                                @{
                                                    string x = author.Description;
                                                    if (x != null && x.Length > 100)
                                                    {
                                                        x = x.Substring(0, 50);
                                                    }
                                                }
                                                @Html.Raw(x)...
                                            </td>
                                            <td>
                                                @author.Genre
                                            </td>
                                            <td>
                                                @author.Website
                                            </td>
                                            <td>
                                                @author.Born
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@author.Id" class="text-warning">Edit</a> |
                                                <a asp-action="Details" asp-route-id="@author.Id" class="text-primary">Details</a> |
                                                <a asp-action="Delete" asp-route-id="@author.Id" class="text-danger">Delete</a>
                                                <a class="text-danger" data-toggle="modal" data-target="#modalDelete">Delete</a>
                                                <!-- Modal -->
                                                <div class="modal" id="modalDelete" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Confirm edit</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>
                                                                    Do you confirm this changes?
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <a asp-action="Delete" asp-route-id="@author.Id" class="text-danger">Delete</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-20 col-md-10">
                            <paging page-no="@Model.PageNumber"
                                    page-size="@Model.PageSize"
                                    total-records="@Model.TotalRecords"
                                    page-size-dropdown-items="5-10-20">
                            </paging>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="showmodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>
