@using BooksForYou.Web.ViewModels.Users;
@model UsersAuthorsListViewModel


@{
    ViewData["Title"] = "Get Authors";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Manage Authors</h3>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                        <div class="col-sm-12">
                            <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Genre</th>
                                        <th>Website</th>
                                        <th>Born</th>
                                        <th>Operations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var author in Model.Users)
                                    {
                                        <tr>
                                            <th>
                                                <img src="@author.ImageUrl" class="media-object" style="width:50px">
                                            </th>
                                            <td>
                                                @author.FirstName
                                            </td>
                                            <td>
                                                @author.LastName
                                            </td>
                                            <td>
                                                @{
                                                    string x = author.Description;
                                                    if (x != null && x.Length > 100)
                                                    {
                                                        x = x.Substring(0, 50);
                                                    }
                                                }
                                                @Html.Raw(x)...
                                            </td>
                                            <td>
                                                @author.Genre
                                            </td>
                                            <td>
                                                <a href="@author.Website">@author.Website</a>
                                            </td>
                                            <td>
                                                @author.Born
                                            </td>
                                            <td>
                                                <a asp-area="" asp-controller="Author" asp-action="AuthorById" asp-route-id="@author.Id" class="text-primary">Details</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-20 col-md-10">
                            <paging page-no="@Model.PageNumber"
                                    page-size="@Model.PageSize"
                                    total-records="@Model.TotalRecords"
                                    page-size-dropdown-items="5-10-20">
                            </paging>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="showmodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>
