@using BooksForYou.Web.ViewModels.Users;
@model UserBecomesAuthorViewModel

@{
    ViewData["Title"] = "Author form";
}


<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form id="editForm" method="post" enctype="multipart/form-data">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="mb-3">
                <div class="text-center mb-3">
                    <label asp-for="@Model.FirstName" class="form-label">First name</label>
                    <input asp-for="@Model.FirstName" class="form-control" aria-required="true" />
                    <span asp-validation-for="Born" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <div class="text-center mb-3">
                    <label asp-for="@Model.LastName" class="form-label">Last name</label>
                    <input asp-for="@Model.LastName" class="form-control" aria-required="true" />
                    <span asp-validation-for="Born" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <div class="text-center mb-3">
                    <label asp-for="@Model.Description" class="form-label">Description</label>
                    <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <div class="text-center mb-3">
                    <label asp-for="@Model.Born" class="form-label">Born</label>
                    <input asp-for="@Model.Born" class="form-control" aria-required="true" />
                    <span asp-validation-for="Born" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <div class="text-center mb-3">
                    <label asp-for="@Model.Website" class="form-label">Website</label>
                    <input asp-for="@Model.Website" class="form-control" aria-required="true" />
                    <span asp-validation-for="Website" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <div class="text-center mb-3">
                    <label asp-for="@Model.GenreId" class="form-label">Genre</label>
                    <select asp-for="@Model.GenreId" class="form-control">
                        @foreach (var genre in Model.Genres)
                        {
                            <option value="@genre.Id">@genre.Name</option>
                        }
                    </select>
                    <span asp-validation-for="GenreId" class="text-danger"></span>
                </div>
            </div>
            <div class="text-center mb-3">
                <div class="form-group mt-3">
                    <label class="mr-2">Upload your Image:</label>
                    <input type="file" name="file">
                </div>
            </div>
        </form>
        <div class="text-center mb-3">
            <button type="submit" class="btn btn-primary mt-2" data-toggle="modal" data-target="#modalEdit">Save changes</button>
            <div>
                <a asp-action="All">Back to List</a>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal" id="modalEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Do you confirm this changes?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="editForm.submit()">Save changes</button>
            </div>
        </div>
    </div>
</div>